:root {
    --successmain: rgba(14, 99, 48, 1);
    --successborder: rgba(237, 250, 243, 1);
    --successhover: rgba(180, 204, 189, 1);
    --successpressed: rgba(11, 77, 37, 1);
    --successfocused: rgba(7, 50, 24, 1);
    --successsecondary: rgba(206, 217, 210, 1);
    --dangermain: rgba(128, 35, 35, 1);
    --dangerborder: rgba(217, 191, 191, 1);
    --dangerhover: rgba(107, 29, 29, 1);
    --dangerpressed: rgba(77, 21, 21, 1);
    --dangerfocused: rgba(229, 218, 218, 1);
    --dangersecondary: rgba(250, 237, 237, 1);
    --infomain: rgba(0, 69, 172, 1);
    --infoborder: rgba(237, 243, 250, 1);
    --infohover: rgba(191, 201, 217, 1);
    --infopressed: rgba(0, 51, 128, 1);
    --infofocused: rgba(0, 35, 86, 1);
    --infosecondary: rgba(213, 220, 229, 1);
    --warningmain: rgba(255, 196, 46, 1);
    --warningborder: rgba(217, 208, 184, 1);
    --warninghover: rgba(212, 163, 38, 1);
    --warningpressed: rgba(128, 98, 23, 1);
    --warningfocused: rgba(229, 223, 207, 1);
    --warningsecondary: rgba(250, 246, 237, 1);
    --natural-10: rgba(224, 224, 224, 1);
    --natural-20: rgba(245, 245, 245, 1);
    --natural-30: rgba(237, 237, 237, 1);
    --natural-40: rgba(224, 224, 224, 1);
    --natural-50: rgba(194, 194, 194, 1);
    --natural-60: rgba(158, 158, 158, 1);
    --natural-70: rgba(117, 117, 117, 1);
    --natural-80: rgba(97, 97, 97, 1);
    --natural-90: rgba(66, 66, 66, 1);
    --natural-100: rgba(10, 10, 10, 1);
    --primarymain: rgba(67, 143, 91, 1);
    --primaryborder: rgba(93, 141, 109, 1);
    --primaryhover: rgba(125, 151, 133, 1);
    --primarypressed: rgba(163, 173, 166, 1);
    --primaryfocused: rgba(206, 208, 207, 1);
    --secondarymain: rgba(27, 61, 40, 1);
    --secondaryborder: rgba(84, 125, 99, 1);
    --secondaryhover: rgba(132, 169, 146, 1);
    --secondarypressed: rgba(179, 210, 191, 1);
    --secondaryfocused: rgba(219, 239, 227, 1);
    --tertiarymain: rgba(249, 216, 73, 1);
    --tertiaryborder: rgba(249, 216, 73, 1);
    --tertiaryhover: rgba(249, 216, 73, 1);
    --tertiarypressed: rgba(249, 216, 73, 1);
    --tertiaryfocused: rgba(249, 216, 73, 1);
    --basemain: rgba(44, 49, 49, 1);
    --baseborder: rgba(98, 98, 98, 1);
    --basehover: rgba(169, 169, 169, 1);
    --basepressed: rgba(202, 202, 202, 1);
    --basefocused: rgba(241, 241, 241, 1);
    --accentsuccessmain: rgba(83, 210, 88, 1);
    --accentsuccessborder: rgba(167, 232, 169, 1);
    --accentsuccesshover: rgba(152, 228, 155, 1);
    --accentsuccesspressed: rgba(186, 237, 188, 1);
    --accentsuccessfocused: rgba(221, 246, 222, 1);
    --accentwarningmain: rgba(228, 198, 91, 1);
    --accentwarningborder: rgba(233, 209, 124, 1);
    --accentwarninghover: rgba(239, 221, 157, 1);
    --accentwarningpressed: rgba(244, 232, 189, 1);
    --accentwarningfocused: rgba(250, 244, 222, 1);
    --accenterrormain: rgba(226, 92, 92, 1);
    --accenterrorborder: rgba(232, 125, 125, 1);
    --accenterrorhover: rgba(238, 157, 157, 1);
    --accenterrorpressed: rgba(243, 190, 190, 1);
    --accenterrorfocused: rgba(249, 222, 222, 1);
    --accentinfomain: rgba(38, 133, 202, 1);
    --accentinfoborder: rgba(81, 157, 213, 1);
    --accentinfohover: rgba(125, 182, 223, 1);
    --accentinfopressed: rgba(168, 206, 234, 1);
    --accentinfofocused: rgba(212, 231, 244, 1);
    --display-XL-regular-font-family: "NunitoSans-Regular", Helvetica;
    --display-XL-regular-font-weight: 400;
    --display-XL-regular-font-size: 60px;
    --display-XL-regular-letter-spacing: 0px;
    --display-XL-regular-line-height: 72px;
    --display-XL-regular-font-style: normal;
    --display-XL-medium-font-family: "NunitoSans-Regular", Helvetica;
    --display-XL-medium-font-weight: 400;
    --display-XL-medium-font-size: 60px;
    --display-XL-medium-letter-spacing: 0px;
    --display-XL-medium-line-height: 72px;
    --display-XL-medium-font-style: normal;
    --display-XL-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --display-XL-semibold-font-weight: 600;
    --display-XL-semibold-font-size: 60px;
    --display-XL-semibold-letter-spacing: 0px;
    --display-XL-semibold-line-height: 72px;
    --display-XL-semibold-font-style: normal;
    --display-XL-bold-font-family: "NunitoSans-Bold", Helvetica;
    --display-XL-bold-font-weight: 700;
    --display-XL-bold-font-size: 60px;
    --display-XL-bold-letter-spacing: 0px;
    --display-XL-bold-line-height: 72px;
    --display-XL-bold-font-style: normal;
    --display-l-regular-font-family: "NunitoSans-Regular", Helvetica;
    --display-l-regular-font-weight: 400;
    --display-l-regular-font-size: 48px;
    --display-l-regular-letter-spacing: 0px;
    --display-l-regular-line-height: 60px;
    --display-l-regular-font-style: normal;
    --display-l-medium-font-family: "NunitoSans-Regular", Helvetica;
    --display-l-medium-font-weight: 400;
    --display-l-medium-font-size: 48px;
    --display-l-medium-letter-spacing: 0px;
    --display-l-medium-line-height: 60px;
    --display-l-medium-font-style: normal;
    --display-l-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --display-l-semibold-font-weight: 600;
    --display-l-semibold-font-size: 48px;
    --display-l-semibold-letter-spacing: 0px;
    --display-l-semibold-line-height: 60px;
    --display-l-semibold-font-style: normal;
    --display-l-bold-font-family: "NunitoSans-Bold", Helvetica;
    --display-l-bold-font-weight: 700;
    --display-l-bold-font-size: 48px;
    --display-l-bold-letter-spacing: 0px;
    --display-l-bold-line-height: 60px;
    --display-l-bold-font-style: normal;
    --display-m-regular-font-family: "NunitoSans-Regular", Helvetica;
    --display-m-regular-font-weight: 400;
    --display-m-regular-font-size: 36px;
    --display-m-regular-letter-spacing: 0px;
    --display-m-regular-line-height: 44px;
    --display-m-regular-font-style: normal;
    --display-m-medium-font-family: "NunitoSans-Regular", Helvetica;
    --display-m-medium-font-weight: 400;
    --display-m-medium-font-size: 36px;
    --display-m-medium-letter-spacing: 0px;
    --display-m-medium-line-height: 44px;
    --display-m-medium-font-style: normal;
    --display-m-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --display-m-semibold-font-weight: 600;
    --display-m-semibold-font-size: 36px;
    --display-m-semibold-letter-spacing: 0px;
    --display-m-semibold-line-height: 44px;
    --display-m-semibold-font-style: normal;
    --display-m-bold-font-family: "NunitoSans-Bold", Helvetica;
    --display-m-bold-font-weight: 700;
    --display-m-bold-font-size: 36px;
    --display-m-bold-letter-spacing: 0px;
    --display-m-bold-line-height: 44px;
    --display-m-bold-font-style: normal;
    --display-s-regular-font-family: "NunitoSans-Regular", Helvetica;
    --display-s-regular-font-weight: 400;
    --display-s-regular-font-size: 30px;
    --display-s-regular-letter-spacing: 0px;
    --display-s-regular-line-height: 38px;
    --display-s-regular-font-style: normal;
    --display-s-medium-font-family: "NunitoSans-Regular", Helvetica;
    --display-s-medium-font-weight: 400;
    --display-s-medium-font-size: 30px;
    --display-s-medium-letter-spacing: 0px;
    --display-s-medium-line-height: 38px;
    --display-s-medium-font-style: normal;
    --display-s-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --display-s-semibold-font-weight: 600;
    --display-s-semibold-font-size: 30px;
    --display-s-semibold-letter-spacing: 0px;
    --display-s-semibold-line-height: 38px;
    --display-s-semibold-font-style: normal;
    --display-s-bold-font-family: "NunitoSans-Bold", Helvetica;
    --display-s-bold-font-weight: 700;
    --display-s-bold-font-size: 30px;
    --display-s-bold-letter-spacing: 0px;
    --display-s-bold-line-height: 38px;
    --display-s-bold-font-style: normal;
    --display-XS-regular-font-family: "NunitoSans-Regular", Helvetica;
    --display-XS-regular-font-weight: 400;
    --display-XS-regular-font-size: 24px;
    --display-XS-regular-letter-spacing: 0px;
    --display-XS-regular-line-height: 32px;
    --display-XS-regular-font-style: normal;
    --display-XS-medium-font-family: "NunitoSans-Regular", Helvetica;
    --display-XS-medium-font-weight: 400;
    --display-XS-medium-font-size: 24px;
    --display-XS-medium-letter-spacing: 0px;
    --display-XS-medium-line-height: 32px;
    --display-XS-medium-font-style: normal;
    --display-XS-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --display-XS-semibold-font-weight: 600;
    --display-XS-semibold-font-size: 24px;
    --display-XS-semibold-letter-spacing: 0px;
    --display-XS-semibold-line-height: 32px;
    --display-XS-semibold-font-style: normal;
    --display-XS-bold-font-family: "NunitoSans-Bold", Helvetica;
    --display-XS-bold-font-weight: 700;
    --display-XS-bold-font-size: 24px;
    --display-XS-bold-letter-spacing: 0px;
    --display-XS-bold-line-height: 32px;
    --display-XS-bold-font-style: normal;
    --text-XL-regular-font-family: "NunitoSans-Regular", Helvetica;
    --text-XL-regular-font-weight: 400;
    --text-XL-regular-font-size: 20px;
    --text-XL-regular-letter-spacing: 0px;
    --text-XL-regular-line-height: 30px;
    --text-XL-regular-font-style: normal;
    --text-XL-medium-font-family: "NunitoSans-Regular", Helvetica;
    --text-XL-medium-font-weight: 400;
    --text-XL-medium-font-size: 20px;
    --text-XL-medium-letter-spacing: 0px;
    --text-XL-medium-line-height: 30px;
    --text-XL-medium-font-style: normal;
    --text-XL-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --text-XL-semibold-font-weight: 600;
    --text-XL-semibold-font-size: 20px;
    --text-XL-semibold-letter-spacing: 0px;
    --text-XL-semibold-line-height: 30px;
    --text-XL-semibold-font-style: normal;
    --text-XL-bold-font-family: "NunitoSans-Bold", Helvetica;
    --text-XL-bold-font-weight: 700;
    --text-XL-bold-font-size: 20px;
    --text-XL-bold-letter-spacing: 0px;
    --text-XL-bold-line-height: 30px;
    --text-XL-bold-font-style: normal;
    --text-l-regular-font-family: "NunitoSans-Regular", Helvetica;
    --text-l-regular-font-weight: 400;
    --text-l-regular-font-size: 18px;
    --text-l-regular-letter-spacing: 0px;
    --text-l-regular-line-height: 28px;
    --text-l-regular-font-style: normal;
    --text-l-medium-font-family: "NunitoSans-Regular", Helvetica;
    --text-l-medium-font-weight: 400;
    --text-l-medium-font-size: 18px;
    --text-l-medium-letter-spacing: 0px;
    --text-l-medium-line-height: 28px;
    --text-l-medium-font-style: normal;
    --text-l-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --text-l-semibold-font-weight: 600;
    --text-l-semibold-font-size: 18px;
    --text-l-semibold-letter-spacing: 0px;
    --text-l-semibold-line-height: 28px;
    --text-l-semibold-font-style: normal;
    --text-l-bold-font-family: "NunitoSans-Bold", Helvetica;
    --text-l-bold-font-weight: 700;
    --text-l-bold-font-size: 18px;
    --text-l-bold-letter-spacing: 0px;
    --text-l-bold-line-height: 28px;
    --text-l-bold-font-style: normal;
    --text-m-regular-font-family: "NunitoSans-Regular", Helvetica;
    --text-m-regular-font-weight: 400;
    --text-m-regular-font-size: 18px;
    --text-m-regular-letter-spacing: 0px;
    --text-m-regular-line-height: 28px;
    --text-m-regular-font-style: normal;
    --text-m-medium-font-family: "NunitoSans-Regular", Helvetica;
    --text-m-medium-font-weight: 400;
    --text-m-medium-font-size: 16px;
    --text-m-medium-letter-spacing: 0px;
    --text-m-medium-line-height: 24px;
    --text-m-medium-font-style: normal;
    --text-m-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --text-m-semibold-font-weight: 600;
    --text-m-semibold-font-size: 16px;
    --text-m-semibold-letter-spacing: 0px;
    --text-m-semibold-line-height: 24px;
    --text-m-semibold-font-style: normal;
    --text-m-bold-font-family: "NunitoSans-Bold", Helvetica;
    --text-m-bold-font-weight: 700;
    --text-m-bold-font-size: 16px;
    --text-m-bold-letter-spacing: 0px;
    --text-m-bold-line-height: 24px;
    --text-m-bold-font-style: normal;
    --text-s-regular-font-family: "NunitoSans-Regular", Helvetica;
    --text-s-regular-font-weight: 400;
    --text-s-regular-font-size: 14px;
    --text-s-regular-letter-spacing: 0px;
    --text-s-regular-line-height: 20px;
    --text-s-regular-font-style: normal;
    --text-s-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --text-s-semibold-font-weight: 600;
    --text-s-semibold-font-size: 14px;
    --text-s-semibold-letter-spacing: 0px;
    --text-s-semibold-line-height: 20px;
    --text-s-semibold-font-style: normal;
    --text-s-bold-font-family: "NunitoSans-Bold", Helvetica;
    --text-s-bold-font-weight: 700;
    --text-s-bold-font-size: 14px;
    --text-s-bold-letter-spacing: 0px;
    --text-s-bold-line-height: 20px;
    --text-s-bold-font-style: normal;
    --text-s-medium-font-family: "NunitoSans-Regular", Helvetica;
    --text-s-medium-font-weight: 400;
    --text-s-medium-font-size: 14px;
    --text-s-medium-letter-spacing: 0px;
    --text-s-medium-line-height: 20px;
    --text-s-medium-font-style: normal;
    --text-XS-regular-font-family: "NunitoSans-Regular", Helvetica;
    --text-XS-regular-font-weight: 400;
    --text-XS-regular-font-size: 12px;
    --text-XS-regular-letter-spacing: 0px;
    --text-XS-regular-line-height: 18px;
    --text-XS-regular-font-style: normal;
    --text-XS-medium-font-family: "NunitoSans-Regular", Helvetica;
    --text-XS-medium-font-weight: 400;
    --text-XS-medium-font-size: 12px;
    --text-XS-medium-letter-spacing: 0px;
    --text-XS-medium-line-height: 18px;
    --text-XS-medium-font-style: normal;
    --text-XS-semibold-font-family: "NunitoSans-SemiBold", Helvetica;
    --text-XS-semibold-font-weight: 600;
    --text-XS-semibold-font-size: 12px;
    --text-XS-semibold-letter-spacing: 0px;
    --text-XS-semibold-line-height: 18px;
    --text-XS-semibold-font-style: normal;
    --text-XS-bold-font-family: "NunitoSans-Bold", Helvetica;
    --text-XS-bold-font-weight: 700;
    --text-XS-bold-font-size: 12px;
    --text-XS-bold-letter-spacing: 0px;
    --text-XS-bold-line-height: 18px;
    --text-XS-bold-font-style: normal;
    --colors-natural-10: rgba(224, 224, 224, 1);
    --colors-primary-main: rgba(67, 143, 91, 1);
  }
  