.wireframe-layanan-pendaftaran {
    background-color: #1b3d28;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .wireframe-layanan-pendaftaran .div {
    background-color: var(--secondarymain);
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .wireframe-layanan-pendaftaran-pendaftaran .frame {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 4px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .wireframe-layanan-pendaftaran .logo {
    position: relative;
    width: 48px;
    height: 48px;
  }
  
  .wireframe-layanan-pendaftaran .img {
    position: absolute;
    width: 102px;
    height: 91px;
    top: 415px;
    left: 7160px;
    mix-blend-mode: luminosity;
    object-fit: cover;
  }
  
  .wireframe-layanan-pendaftaran .KANTOR-URUSAN-AGAMA {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans-Bold", Helvetica;
    font-weight: 700;
    color: #626060;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .frame-2 {
    display: flex;
    width: 512px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    position: relative;
  }
  
  .wireframe-layanan-pendaftaran .frame-3 {
    display: flex;
    width: 156px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 4px;
    position: relative;
  }
  
  .wireframe-layanan-pendaftaran .img-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 353px;
    left: 6373px;
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid-2 {
    position: absolute;
    top: 353px;
    left: 6325px;
    width: 24px;
    height: 24px;
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid-bell {
    position: absolute;
    top: 353px;
    left: 6277px;
    width: 24px;
    height: 24px;
  }
  
  .wireframe-layanan-pendaftaran .frame-4 {
    display: flex;
    width: 268px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 4px;
    position: relative;
  }
  
  .wireframe-layanan-pendaftaran .ellipse {
    position: relative;
    width: 48px;
    height: 48px;
    margin-bottom: -369px;
    margin-right: -6035px;
    mix-blend-mode: luminosity;
    object-fit: cover;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #626060;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .button {
    display: flex;
    flex-direction: column;
    width: 142px;
    align-items: flex-start;
    padding: 14px 6px;
    position: absolute;
    top: 952px;
    left: 1093px;
    background-color: #428e5b;
    border-radius: 12px;
    all: unset;
    box-sizing: border-box;
  }
  
  .wireframe-layanan-pendaftaran .button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 12px;
    overflow: hidden;
    all: unset;
    box-sizing: border-box;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-2 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--natural-10);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 126px;
    left: 514px;
  }
  
  .wireframe-layanan-pendaftaran .card-text {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 18px;
    position: relative;
    background-color: #428e5b;
    border-radius: 12px;
    border: 2px solid;
    border-color: #f9d849;
  }
  
  .wireframe-layanan-pendaftaran .conten {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-3 {
    position: relative;
    flex: 1;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--natural-10);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .conten-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 18px;
    position: relative;
    background-color: #428e5b;
    border-radius: 12px;
  }
  
  .wireframe-layanan-pendaftaran .navbar-2 {
    display: flex;
    width: 1126px;
    height: 90px;
    align-items: center;
    gap: 164px;
    position: absolute;
    top: 24px;
    left: 214px;
  }
  
  .wireframe-layanan-pendaftaran .div-wrapper {
    display: flex;
    width: 480px;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    position: relative;
  }
  
  .wireframe-layanan-pendaftaran .p {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--natural-10);
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .frame-wrapper {
    display: flex;
    width: 482px;
    height: 62px;
    align-items: center;
    justify-content: flex-end;
    padding: 4px;
    position: relative;
  }
  
  .wireframe-layanan-pendaftaran .frame-6 {
    display: flex;
    width: 156px;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    padding: 4px;
    position: relative;
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid-3 {
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./img/globe-alt.svg);
    background-size: 100% 100%;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-4 {
    position: absolute;
    top: 197px;
    left: 585px;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .overlap-group {
    position: absolute;
    width: 1126px;
    height: 648px;
    top: 240px;
    left: 214px;
  }
  
  .wireframe-layanan-pendaftaran .text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 24px;
    left: 0;
  }
  
  .wireframe-layanan-pendaftaran .text-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 510px;
    left: 0;
  }
  
  .wireframe-layanan-pendaftaran .text-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 580px;
    left: 0;
  }
  
  .wireframe-layanan-pendaftaran .conten-text {
    display: flex;
    flex-direction: column;
    width: 1126px;
    align-items: flex-start;
    gap: 12px;
    padding: 12px 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-5 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-6 {
    position: relative;
    width: 291px;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-7 {
    position: relative;
    width: fit-content;
    font-family: var(--text-s-medium-font-family);
    font-weight: var(--text-s-medium-font-weight);
    color: #000000;
    font-size: var(--text-s-medium-font-size);
    letter-spacing: var(--text-s-medium-letter-spacing);
    line-height: var(--text-s-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-s-medium-font-style);
  }
  
  .wireframe-layanan-pendaftaran .frame-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .wireframe-layanan-pendaftaran .mengisi-form {
    position: relative;
    align-self: stretch;
    height: 340px;
    font-family: "Plus Jakarta Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .frame-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-bottom: -4px;
    font-family: var(--text-s-medium-font-family);
    font-weight: var(--text-s-medium-font-weight);
    color: #000000;
    font-size: var(--text-s-medium-font-size);
    letter-spacing: var(--text-s-medium-letter-spacing);
    line-height: var(--text-s-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-s-medium-font-style);
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-10 {
    position: relative;
    align-self: stretch;
    font-family: "Plus Jakarta Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .wireframe-layanan-pendaftaran .text-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 890px;
    left: 214px;
  }
  
  .wireframe-layanan-pendaftaran .logo-wrapper {
    position: relative;
    width: 48px;
    height: 48px;
  }
  
  .wireframe-layanan-pendaftaran .logo-2 {
    position: absolute;
    width: 41px;
    height: 37px;
    top: 6px;
    left: 4px;
    object-fit: cover;
  }
  
  .wireframe-layanan-pendaftaran .div-2 {
    color: #000000;
    height: 52px;
    gap: 8px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid-home {
    position: relative;
    background-image: url(./img/home.svg);
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: var(--text-s-medium-font-family);
    font-weight: var(--text-s-medium-font-weight);
    color: #000000;
    font-size: var(--text-s-medium-font-size);
    letter-spacing: var(--text-s-medium-letter-spacing);
    line-height: var(--text-s-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-s-medium-font-style);
  }

  
  .wireframe-layanan-pendaftaran .heroicons-solid-user {
    position: relative;
    background-image: url(./img/user.svg);
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  
  .wireframe-layanan-pendaftaran .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-bottom: -4px;
    font-family: var(--text-s-medium-font-family);
    font-weight: var(--text-s-medium-font-weight);
    color: #000000;
    font-size: var(--text-s-medium-font-size);
    letter-spacing: var(--text-s-medium-letter-spacing);
    line-height: var(--text-s-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-s-medium-font-style);
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid-4 {
    position: relative;
    background-image: url(./img/photo.svg);
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid-5 {
    position: relative;
    background-image: url(./img/newspaper.svg);
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
  
  .wireframe-layanan-pendaftaran .heroicons-solid-6 {
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./img/chart-pie.svg);
    background-size: 100% 100%;
  }
  